body {
  background-color: black;
}

h1 {
  color: white;
  font-size: 102pt;
  margin-bottom: 0px;
  font-weight: normal;
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
}

a {
  color: white;
}

a:hover {
  color: #49fb35
}

#link {
  font-size: 75pt;
  padding-right: 40pt;
  display: inline-block;
}

#buttons {
  text-align: center; 
  color: white;
  display: block;
}
